.timetable{
    float: right;
    margin-bottom: 2%;
}
.search{
    float: left; 
    width: 45%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.searchSchedule{
    
    float: left; 
    width: 45%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.display {
    margin-bottom: 2%;
    margin-top: 2%;
    position:absolute;
    bottom:0;
    right:40%;
}
.searchAllSchedules{
    float: left;
    position:absolute;
    bottom:0;
    left:0;
}
.clearOneSchedule{
    float: right;
    position:absolute;
    bottom:30%;
    right:0;
    margin-bottom: 2%;
    margin-top: 2%;
}
.clearSchedules{
    position:absolute;
    bottom:0;
    right:0;
    margin-bottom: 2%;
    margin-top: 2%;
}
